<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Tetris with Twilio</title>
  </head>
  <body>
    <p>Thanks for playing! {{ msg }} Also, don't forget to checkout:</p>
    <ul>
      <li><a href="http://www.evanlong.info/">My homepage</a></li>
      <li><a href="http://www.infectmac.com/">My blog</a></li>
      <li><a href="http://www.chipmark.com/">Chipmark (a great bookmarking application done by students at the University of Minnesota)</a></li>
      <li><a href="http://bitbucket.org/evanlong/twilio-tetris-game/">Source Code</a></li>
      <li>email: <a href="mailto:annglove+tetris@gmail.com">annglove+tetris@gmail.com</a></li>
    </ul>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-4849522-3");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>    
  </body>
</html>
